@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mascotas";

}
@model List<Gatos>

<h1>Gaticos Disponibles</h1>

<partial name="_Mascotas" model="Model" />

