@{
    ViewData["Title"] = "Home Page";
}

<div class="image-background">
    <div style="ms-5">

        <h1 class="display-4 fw-bold ps-3">Adoptontitos </h1>
        <p class="ps-3">Salva vidas, ten un nuevo compañero</p>
    </div>
</div>

